<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosh sahifa</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
    <h1>HomePage</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque delectus distinctio
        ea eligendi eos et facilis fugit illo mollitia nam nulla, odio provident qui ratione
        reprehenderit totam veritatis! Eum fugiat iusto modi obcaecati officia recusandae tenetur
        velit voluptates? Ad assumenda at consequatur dolorum, exercitationem id magnam maxime
        modi necessitatibus qui!
    </p>
{% endblock content %}
</body>
</html>